# Mac OS files
.DS_Store

# Pycharm files
.idea

# jupyter files
__pycache__
.ipynb_checkpoints

# matlab files
.MATLABDriveTag
*.asv
excl.nii

# Ransomware
README_FOR_DECRYPT.txt
.encrypt

# NTFS ADS
*:Zone.Identifier
